// Imports
@use "declarations" as *;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: ubuntu, sans-serif;
}
body {
  background-color: $dark-1;
  color: #eee;
}

// Main
.main {
  &.disabled {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
  }
}

// Title
.title {
  text-align: center;
  padding: 20px 0;
  color: $primary;
  background-color: #222;
}
